{
    "root": true,
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "next/core-web-vitals"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": [
            "./tsconfig.json"
        ]
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "env": {
        "es6": true,
        "node": false,
        "commonjs": false
    },
    "rules": {
        "camelcase": [
            "warn",
            {
                "ignoreImports": true
            }
        ],
        "spaced-comment": [
            "warn",
            "always",
            {
                "exceptions": [
                    "*"
                ],
                "markers": [
                    "/",
                    "#region",
                    "#endregion"
                ]
            }
        ],
        "quotes": [
            "warn",
            "double"
        ],
        "arrow-spacing": "warn",
        "comma-spacing": [
            "warn",
            {
                "before": false,
                "after": true
            }
        ],
        "complexity": [
            "warn",
            10
        ],
        "arrow-parens": [
            "warn",
            "as-needed"
        ],
        "arrow-body-style": "off",
        "semi": [
            "warn",
            "never"
        ],
        "indent": [
            "warn",
            4
        ]
    }
}