@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    font-family: "Mosk";
    font-weight: 400;
}

@font-face {
    font-family: "Mosk";
    src: local("Mosk"), url("../public/fonts/Mosk/Mosk-Thin-100.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Mosk";
    src: local("Mosk"), url("../public/fonts/Mosk/Mosk-Extra-Light-200.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Mosk";
    src: local("Mosk"), url("../public/fonts/Mosk/Mosk-Light-300.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Mosk";
    src: local("Mosk"), url("../public/fonts/Mosk/Mosk-Normal-400.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Mosk";
    src: local("Mosk"), url("../public/fonts/Mosk/Mosk-Medium-500.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Mosk";
    src: local("Mosk"), url("../public/fonts/Mosk/Mosk-Semi-Bold-600.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Mosk";
    src: local("Mosk"), url("../public/fonts/Mosk/Mosk-Bold-700.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Mosk";
    src: local("Mosk"), url("../public/fonts/Mosk/Mosk-Extra-Bold-800.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Mosk";
    src: local("Mosk"), url("../public/fonts/Mosk/Mosk-Ultra-Bold-900.ttf") format("truetype");
    font-weight: 900;
}
